.article-element {
    margin-top: 10px;
}

.mainPageBody {
    height: 100%;
    background: rgb(149,0,255);
    background: linear-gradient(196deg, rgba(149,0,255,1) 0%, rgba(254,255,0,1) 100%) fixed;
}

.conference-block {
    text-align: center;
    border-style: double;
    margin-bottom: 10px; //isores atitraukimas
    padding: 7px; //viduje atitraukimas

    width: 70%;
}
